header{
width: 1140px;
overflow: hidden;
background-color: rgb(255, 87, 51);
margin: 0 auto;
padding: 5px;
}

#productos{
width: 800px;
overflow: hidden;
float:left;
box-sizing: border-box;
background-color: white;
margin-top: 20px;
}

.producto{
width: 355px;
margin: 10px;
float: left;
box-sizing: border-box;
padding-left: 25px ;
}

#logo{
float:left;
margin-right: 30px;
}

#links{
float: left;
margin-top: 10px;
}

#login{
float: right;
margin-top: 10px;
text-decoration: none;
}

.vermas{
text-decoration: none;
background-color: red;
color: white;
padding: 5px;
}

#tutoriales{
float: right;
width: 320px;
overflow: hidden;
margin-right: 90px;
}

body{
    background-image: url("../img/bg-2.png");
 }

main{
margin-top: 30px;
width: 1120;
margin-left: 92px;
}

.fondoblanco{
background-color: white;
}

div img{
float: left;
}

div p{
float: right;
}

#login{
    text-align: center;
    }

#recordarme{
text-align: right;
}

.obligatorio{
color:red;
font-size: 12px;
line-height: 8px;
}

#mainregistro{
margin-left: 580px;
}


#mainlogin{
    margin-left: 580px;
    width: 200px;
    }

.right{
margin-left: 80px;
}

a{
text-decoration: none;
color: white;
}

.articulos{
overflow: hidden;
}

.sinflotar{
clear: both;
}

.titulo{
padding-top: 4px;
padding-bottom: 4px;
}

.tutoriales{
    overflow: hidden;
    border-bottom: solid 1px lightskyblue;
    padding: 3px;
    }

h1{
font-family: rubik, sans-serif;
font-size: 25px;
}

h2{
    font-family: rubik, sans-serif;
    font-size: 15px;
    }

input:hover{
background-color: lightskyblue;
}

.botonpersonalizado{
    text-decoration: none;
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

div p{
margin-right: 40px;
}